.fix-addbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: zoomIn 0.5s ease;
}

.fix-addbutton button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: grid;
    place-items: center;
    padding: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    border: none;
    animation: zoomPulse 2s infinite;
}

.fix-addbutton button:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    } /* max zoom */
    100% {
        transform: scale(1);
    }
}

.w-10 {
    width: 50px;
}
