.fix-addbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    animation: zoomIn 0.5s ease;
}

.fix-addbutton button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    display: grid;
    place-items: center;
    padding: 0;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    border-radius: 50%;
    background-color: #0d6efd;
    color: white;
    border: none;
    animation: zoomPulse 2s infinite;
}

.fix-addbutton button:hover {
    transform: scale(1.2);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    } /* max zoom */
    100% {
        transform: scale(1);
    }
}

.w-10 {
    width: 50px;
}

.sidebar {
    background-color: #fff;
    width: 300px;
    min-height: 85vh;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 10px;
}

.fix-sidebar .title h2 {
    font-size: 24px;
    font-weight: 600;
}

.fix-sidebar ul {
    margin: 0;
    padding: 0;
}

.fix-sidebar ul li {
    list-style-type: none;
    padding: 8px;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.fix-sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.fix-sidebar ul li a:hover {
    color: #333;
    font-weight: 600;
}

.fix-sidebar ul li.active {
    border-bottom: 2px solid #808bf7;
}
.fix-sidebar ul li.active a {
    font-weight: 600;
}
/* 
.fix-sidebar ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    bottom: 0;
    left: 0;
    transform: scale(0);
    transition: 0.2s all ease-out;
}

.fix-sidebar ul li a:hover::after {
    transform: scale(1);
} */

.kjhgsdf a {
    text-decoration: none !important;
    border-color: transparent !important;
}

.kjhgsdf a img {
    border-radius: 100px;
    width: 50px;
    height: 50px;
}

.profile-logo img {
    border-radius: 100px;
    height: 50px;
    width: 50px;
}
